@import "../../style.scss";

.home{
    //import function from 'style' for global change of style/wrapped
    @include themify($themes){

        background-color: themed("bgSoft");
        padding: 20px 70px;
        

        // on 0-480px
        @include mobile {
        padding: 10px;
        }

        //from 481px - 960px  tablet! 
        @include tablet {
            padding: 20px;
        }
    }
}